

/* Левая часть (занимает 20% ширины) */
.left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.2;
    height: 100%;
}

/* Блок "Добавить машину" */
.left-add-car, 
.left-sort {
  gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    height: 50%; /* Равномерное разделение */
}

/* Правая часть (занимает 80% ширины) */
.right-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Колонки будут заполняться, начиная с 300px */
  gap: 20px; /* Расстояние между карточками */
  padding: 20px;
  border-radius: 20px;
  justify-content: center; /* Центрируем содержимое по горизонтали */
}
.right-content-wrapper{
  background-color: white;
  width: 100%;
  border-radius: 20px;
  flex: 0.8;
}

.car-card {
  width: 100%; /* Карточка растягивается по ширине */
  max-width: 300px; /* Фиксированная максимальная ширина */
  height: 400px; /* Высота карточки */
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 13px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.car-card__image {
  padding: 2%;
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.car-card__image img {
  border-radius: 10px 10px 0 0 ;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.car-card__info {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.car-card__info h3 {
  margin: 5px 0;
}

.car-card__info p {
  margin: 3px 0;
  font-size: 14px;
  color: #555;
}


.image-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
}

.car-info-bit{
  width: 70%;
}
.menu-icon{
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Стили для контейнера слайдера */
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Контейнер миниатюр (иконок) */
.thumbnail-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Чтобы миниатюры были поверх изображений */
  width: 100%;
}

.thumbnail-container img {
  width: 60px;
  height: 60px;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail-container img.active {
  border-color: #ff9900; /* Цвет обводки для активной миниатюры */
}

/* Обработка зума */
.zoomable {
  cursor: zoom-in;
  transition: transform 0.25s ease;
}

.zoomable:active {
  transform: scale(1.5);
  cursor: zoom-out;
}
.image-gallery-image{
  max-width: 500px;
}
.car-modal-gallery{
  flex: 1;
}

.car-modal-content h1{
  text-align: center;
}
.modal-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
}

.car-modal-gallery, .modal-info {
  flex: 1; /* Делим пространство поровну */
  max-width: 50%; /* Ограничиваем максимальную ширину до 50% для каждого блока */
  overflow: hidden; /* Прячем возможные переполнения */
}

.modal-info-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex:1;
}
.modal-info {
  padding: 0 20px; /* Добавим отступы для красоты */
}

.modal-info-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
[data-theme="dark"] .modal-info-item p {
  color: white;
}
[data-theme="light"] .modal-info-item p {
  color: black;
}
.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {
  color: #2980b9;
}

.car-card-bit{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.car-card-image-bit img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.car-info-bit{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.car-card-info-bit h3, p{
  font-size: 15px;
  margin: 0;
}

.car-card-info-bit p{
text-align: left;
}

.right-sort-wrapper{
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* Карточка автомобиля на главной странице */
.car-card-main{
  width: 100%;
  max-width: 300px; 
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 13px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.car-card__info p {
  display: flex;
  align-items: center;
}

.point {
  width: 10px;
  height: 10px;
  background-color: #ffd500; /* Цвет точки */
  border-radius: 50%;
  margin-right: 10px;
}
.point-green{
  width: 10px;
  height: 10px;
  background-color: green; /* Цвет точки */
  border-radius: 50%;
  margin-right: 10px; 
}

.car-info-bit p {
  margin: 0;
  padding: 0;
}

.car-info-bit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.car-card__pricing {
  margin-top: 20px;
}

.price-per-day, .deposit-amount {
  margin: 5px 0;
}

.car-info-bit-wrapper {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.car-info-bit-wrapper h3 {
  text-align: left;
  margin: 5px 0;
}

.car-info-bit-wrapper p {
  margin: 3px 0;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
}

.car-card-pricing-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 5% 0;
}
.price-per-day-main , .deposit-amount-main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  2% 5%;
  text-align: center;
  background-color: #ff9900;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  
}

.price-per-day-main {
  background-color: #ff9900;
} 

.deposit-amount-main {
  background-color: #555;
}

.line{
  width: 100%;
  height: .1px;
  border: none;
  background-color: lightgray;
  margin: 0;
}