[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: white;
  --container-bg: #1e1e1e;
}

[data-theme="light"]  {
  --bg-color: #e8e8e8;
  --text-color: black;
  --container-bg: white;
  
}

/* Главный контейнер */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}


/* Основной контент занимает всё доступное пространство */
main {
  flex-grow: 1;
}

/* Футер */
footer {
  color: white;
  text-align: center;
  padding: 10px;
}

[data-theme="dark"] .right-content-wrapper, 
[data-theme="dark"] .left-add-car, 
[data-theme="dark"] .left-sort {
  background-color: #1e1e1e;
  color: white;
}

[data-theme="light"] .right-content-wrapper, 
[data-theme="light"] .left-add-car, 
[data-theme="light"] .left-sort ,
[data-theme="light"] footer, 
[data-theme="light"] .header-container 
{
  background-color: white;
  color: black;
}

[data-theme="dark"] .car-card {
  background-color: #1e1e1e;
}

[data-theme="light"] .car-card {
  background-color: #e8e8e8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p{
  font-size: 15px;
}

h1{
  font-size: 20px;
}

.page_wrapper{
  min-height: 85vh;
  display: flex;
  gap: 20px;
  padding: 2%;
  margin: 0;
}

.container{
  border-radius: 20px;
  background-color: white;
  display: flex;
  width: 100%;
  padding: 2%;
}