/* Главный контейнер */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота экрана */
  text-align: center;
  background-color: #e8e8e8;
}

/* Основной контент занимает всё доступное пространство */
main {
  flex-grow: 1;
}

/* Футер */
footer {
  color: white;
  text-align: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p{
  font-size: 15px;
}

h1{
  font-size: 20px;
}

.page_wrapper{
  min-height: 85vh;
  display: flex;
  gap: 20px;
  padding: 2%;
  margin: 0;
}

.container{
  border-radius: 20px;
  background-color: white;
  display: flex;
  width: 100%;
  padding: 2%;
}