/* Основной стиль для кнопки */
.btn {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: .9rem;
  font-weight: 500;
  width: auto;
}

/* Кнопка с фоном */
.btn-with-bg {
  background-color: #333;
}

.btn-with-bg:hover {
  background-color: #555;
}

/* Кнопка без фона (просто текст) */
.btn-no-bg {
  background-color: transparent;
  color: black; /* Цвет текста при отсутствии фона */
}

.btn-no-bg:hover {
  color: red; 
}

/* Эффект при нажатии */
.btn:active {
  transform: scale(0.95);
}

/* Кнопка с лайка */
.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
  user-select: none;
  transition: transform 0.1s ease-in-out;
}

.like-button:active {
  transform: scale(0.9);
}

.heart-icon {
  width: 24px;
  height: 24px;
  stroke: #555;
  transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.heart-icon.liked {
  fill: red;
  stroke: red;
}

.like-count {
  font-size: 16px;
  color: #333;
}